.leaderboard-container {
    margin-top: 20px;
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .leaderboard-container h3 {
    margin-bottom: 10px;
  }
  
  .leaderboard-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  